
block vars
  - var assets = '../../assets/'

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='icon', href=assets + 'redball.ico')
    title= intro.headline
    meta(name="description" content=intro.copy)
    script document.getElementsByTagName("html")[0].className += " js";
    link#codyframe(rel='stylesheet', href=assets + 'css/style.css')
    script if(!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {var cfStyle = document.getElementById('codyframe');if(cfStyle) {var href = cfStyle.getAttribute('href');href = href.replace('style.css', 'style-fallback.css');cfStyle.setAttribute('href', href);}}

    block styles

  body(data-theme="default")

    div#page(class=header.logo.alt, layout)
      block body


    //- svg(xmlns='http://www.w3.org/2000/svg', style='display: none;')
      block icons


    block scripts

    script(src=assets + 'js/scripts.min.js')
