<section>
  <div class="container max-width-adaptive-md padding-y-xl">
    <div class="grid gap-lg gap-xxxl@md items-center">
      <div class="{{ blockClassImg }}">
        <div class="text-component line-height-lg v-space-lg text-center">
          <h2 class="text-xl color-black">{{ blockHeadline }}</h2>
          {{ blockCopy }}
          <figure class="media-wrapper">
            <img src="{{ blockImage1x }}" srcset="{{ blockImage2x }}">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
