extend ../../layouts/program

append vars

  include ../../modules/elkjop-settings
  include ../../modules/elements

append styles

append scripts

block body

  include ../../modules/header

  main#content

    +block('intro')(class='max-width-adaptive-md')
      style.
        #intro {
          background-image: url(https://elkjop.cnetcontent.com/assets/images/scene-wall.jpg);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
        }
      include ../../modules/intro



    +block-overlay('benefit', '../../assets/images/group-of-person-sitting-indoors.jpg', 'var(--color-black)')(class='max-width-adaptive-lg')
      style
        :scss(compress=true)
          .link-card {
            --shadow-xs: var(--shadow-md);
            justify-content: space-between;
            flex-wrap: wrap;
            display: flex;
            overflow: hidden;
            cursor: pointer;
            &:active {
              transform: translateY(2px);
            }
            .bg-contrast-lower {
              align-content: flex-end;
              justify-self: flex-end;
              p::before {
                content: '';
                display: block;
                height: 0;
                width: 0;
                margin-top: calc((1 - 1.2) * 0.5em);
              }
            }
          }
      div(class='text-component text-center padding-top-md')
        h1(class='color-white text-xxl text-xxxl@lg padding-y-xxs@lg') One partner. One complete solution
      div(class='padding-y-lg flex justify-center max-width-adaptive-md margin-auto')
        div(class='grid gap-xl z-index-3 width-100%')

          each item, index in cluster.cards
            div(class='link-card bg radius-lg col-6@md')
              span(class='text-decoration-none flex flex-column width-100%')
                header(class='padding-x-md padding-x-md@md padding-top-md')
                  div(class='flex items-center')
                    figure(class='icon--md margin-right-xxxs') !{item.icon}
                    div(class="line-height-sm")
                      h4(class='text-lg') #{item.title}
                main(class='text-component padding-x-md padding-y-sm padding-x-lg@md padding-right-xxl@md margin-bottom-auto')
                  | !{item.text}
                footer(class='flex bg-contrast-lower margin-top-auto')
                  p(class='padding-y-xs color-primary-dark margin-auto') #{item.cta}



    +block('create')(class='max-width-adaptive-md')
      div(class='grid gap-lg gap-xxxl@md items-center')
        div(class='col-6@md order-2@md')
          span(class='text-component line-height-lg v-space-lg')
            h2(class='text-xl color-black')= create.headline
            | !{create.copy}
        div(class='col-6@md order-1@md')
          figure(class='media-wrapper media-wrapper--4:3')
            img(src=create.media.standard, srcset=create.media.retina + ' 2x')



    +block('syndicate')(class='max-width-adaptive-md')
      include ../../modules/walmart-syndicate

    +block('portal')(class='max-width-adaptive-md')
      include ../../modules/block-portal

    +block-overlay('service', '../assets/images/background.jpg', 'var(--color-primary-darker)')(class='max-width-adaptive-lg')
      include ../../modules/card-grid

    section#contact(class='bg bg-contrast-lower padding-y-xl')
      div(class='container max-width-adaptive-sm')
        include ../../modules/contact

  include ../../modules/footer
