// main: ../../staples.pug

div(class='grid gap-xxl items-center')
  div(class='col-6@md order-1@md')
    span(class='text-component')
      h2(class='text-xl text-xxl@md')=inline.headline
      | !{inline.copy}
  div(class=inline.flip ? 'col-6@md' : 'col-6@md  order-1@md')
    figure(class='media-wrapper')
      video(poster=inline.media.image, preload, autoplay, loop, muted, playsinline, nofullscreen)
        source(src=inline.media.webm)
        source(src=inline.media.mp4)
        img(src=inline.media.image, alt='thumbnail', aria-label='media')
