// main: ../../staples.pug

style
  :less(compress=true)
    #introduction {
      .btn {
        background-color: var(--color-error-dark);
        color: var(--color-white);
        &:hover {
          background-color: var(--color-error-darker);
          color: var(--color-white);
        }
      }
    }

div(class='grid gap-xxl items-center')
  div(class='col-6@md order-1@md')
    span(class='text-component')
      h1(class='text-xxl text-xxxl@md line-height-xs')= intro.headline 
      p #{intro.copy} 
      a(class='btn', href=intro.button.link)= intro.button.label
      | !{intro.subtext}
  div(class=intro.flip ? 'col-6@md' : 'col-6@md  order-1@md')
    figure(class='media-wrapper')
      img(src=intro.media.standard, srcset=intro.media.retina)
