// out: ./staples.html, pretty:false

include clients/staples/_content

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='icon', href='assets/images/favicon.ico')
    title= intro.headline
    meta(name="description" content=intro.copy)
    script document.getElementsByTagName("html")[0].className += " js";
    link#codyframe(rel='stylesheet', href='assets/css/style.css')
    script if(!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {var cfStyle = document.getElementById('codyframe');if(cfStyle) {var href = cfStyle.getAttribute('href');href = href.replace('style.css', 'style-fallback.css');cfStyle.setAttribute('href', href);}}
    block styles
  body(data-theme="default")
  
    header#top(class='header js-header')
      .header__container.container.max-width-adaptive-lg
        include clients/staples/header
    
    section#introduction(class='margin-top-xxl margin-top-xxxl@md')
      div(class='container max-width-adaptive-lg padding-y-xl')
        include clients/staples/intro
    
    section#inline
      div(class='container max-width-adaptive-lg padding-y-xl')
        include clients/staples/inline

    section#hotspots
      div(class='container max-width-adaptive-lg padding-y-xl')
        include clients/staples/hotspots

    section#features
      div(class='container max-width-adaptive-lg padding-y-xl')
        include clients/staples/features

    section#portal
      div(class='container max-width-adaptive-lg padding-y-xl')
        include clients/staples/portal
    
    section#cards(class='bg-cover position-relative items-center margin-top-lg padding-y-lg', style='background-image: url("https://staples.cnetcontent.com/assets/images/group-of-person-sitting-indoors.jpg")')
      div.overlay.z-index-1
      .container.max-width-adaptive-lg.z-index-2.position-relative
        include clients/staples/cards

    section#banner
      .has-section-divider-bottom.bg-white
        include clients/staples/banner
    
    section#contact(class='bg-contrast-lower padding-top-md padding-bottom-xl')
      .container.max-width-adaptive-sm
        .text-component.margin-bottom-md.text-center
          h3(class='text-lg') #{contact.headline}
          div(class='padding-x-lg@md') !{contact.text}
      .container.max-width-adaptive-sm
        form.sign-up-form
          include clients/staples/form
          .grid.gap-sm
            div(class='col-6@md')
              label.form-label.margin-bottom-xxxs(for='inputFirstName') First Name
              input#inputFirstName(class='form-control width-100%', type='text', name='inputFirstName')
            div(class='col-6@md')
              label.form-label.margin-bottom-xxxs(for='inputLastName') Last Name
              input#inputLastName(class='form-control width-100%', type='text', name='inputLastName')
            div(class='col-6@md')
              label.form-label.margin-bottom-xxxs(for='inputFirstName') Company
              input#inputFirstName(class='form-control width-100%', type='text', name='inputFirstName')
            div(class='col-6@md')
              label.form-label.margin-bottom-xxxs(for='inputLastName') Contact Phone
              input#inputLastName(class='form-control width-100%', type='text', name='inputLastName')
            div(class='col-12')
              label.form-label.margin-bottom-xxxs(for='inputPassword1') Email Address
              input#inputPassword1(class='form-control width-100%', type='email', name='inputPassword1')
              div(class='text-center')
                p(class='color-contrast-medium margin-y-lg')= contact.legal 
                button.btn.btn--primary &nbsp;Submit&nbsp;
    
    section#clients.bg.position-relative.z-index-1.padding-y-xxxl
      .container.max-width-adaptive-md
        include clients/staples/logos
    
    footer#bottom(class='items-center bg-center bg-no-repeat', style='background-image: url("https://cdn.cnetcontent.com/sites/pages/map.svg")')
      div(class='container max-width-adaptive-lg padding-y-lg')
        include clients/staples/footer

    script(src='assets/js/scripts.js')
