<ul class="list flex flex-column gap-xxxs">
  <li title="{{ radioName }}-1">
    <input id="{{ radioName }}-1"
      name="{{ radioName }}"
      value="{{ radioValue }}"
      class="radio"
      type="radio"
      checked="checked" />
    <label for="{{ radioName }}-1">A {{ radioText }}</label>
  </li>
  <li title="{{ radioName }}-2">
    <input id="{{ radioName }}-2"
      name="{{ radioName }}"
      value="{{ radioValue }}"
      class="radio"
      type="radio" />
    <label for="{{ radioName }}-2">B {{ radioText }}</label>
  </li>
</ul>
