extend ../../layouts/program

append vars
  include ../../modules/costco-settings
  include ../../modules/elements

block body
  include ../../modules/header

  +block('intro')(class='max-width-adaptive-md')
    div(class='grid gap-lg@md')
      div(class='flex items-center col-6@md')
        div(class='text-component line-height-lg v-space-lg')
          h1(class='text-xl padding-bottom-xxs color-black')=intro.headline
          p #{intro.copy}
          a(class='btn btn--primary margin-bottom-md', href=intro.button.link)=intro.button.label
          //- p !{intro.subtext}
      div(class='col-6@md padding-top-lg padding-top-0@md')
        figure(class='media-wrapper media-wrapper--4:3 radius-md')
          img(src=intro.media.standard, srcset=intro.media.retina + ' 2x', alt='Image description')

  +block('features')(class='max-width-adaptive-md padding-bottom-lg')
    script.
      function ImagePreload() {
        if(window.devicePixelRatio > 1) {
          imgA1 = new Image(); imgA1.src = '../../assets/images/features-hotspots-2x.jpg';
          imgA4 = new Image(); imgA4.src = '../../assets/images/features-spin-2x.jpg';
          imgA5 = new Image(); imgA5.src = '../../assets/images/features-videos-2x.jpg';
          imgA6 = new Image(); imgA6.src = '../../assets/images/features-zoom-2x.jpg';
          imgA7 = new Image(); imgA7.src = '../../assets/images/features-reporting-2x.jpg';
          imgA8 = new Image(); imgA8.src = '../../assets/images/features-compare-2x.jpg';
        } else {
          imgB1 = new Image(); imgB1.src = '../../assets/images/features-hotspots-1x.jpg';
          imgB4 = new Image(); imgB4.src = '../../assets/images/features-spin-1x.jpg';
          imgB5 = new Image(); imgB5.src = '../../assets/images/features-videos-1x.jpg';
          imgB6 = new Image(); imgB6.src = '../../assets/images/features-zoom-1x.jpg';
          imgB7 = new Image(); imgB7.src = '../../assets/images/features-reporting-1x.jpg';
          imgB8 = new Image(); imgB8.src = '../../assets/images/features-compare-1x.jpg';
        }
      };
        window.onload = ImagePreload;
        function ImageSwap(ImageID,FileName1,FileName2) {
        document.getElementById(ImageID).src = FileName1;
        document.getElementById(ImageID).srcset = FileName2;
      };
    div(class='grid gap-lg@md')
      div(class='col-6@md padding-top-lg padding-top-0@md')
        figure(class='media-wrapper media-wrapper--4:3 radius-md')
          img#jsImageSwap(src='../../assets/images/features-hover-1x.jpg', srcset='../../assets/images/features-hover-2x.jpg 2x', alt='Image description')
      div(class='flex items-center col-6@md')
        div(class='text-component line-height-lg v-space-lg')
          br(class='hide@md')
          h1(class='text-xl color-black') The Costco Exclusive Offering
          ul(class='list list--ul text-md margin-top-md@md margin-left-md@md margin-left-sm@sm')
            //- li Feature Icons
            li #[a(class='link', href='javascript:void(0)', onmouseout='ImageSwap("jsImageSwap","../../assets/images/features-hover-1x.jpg","../../assets/images/features-hover-2x.jpg")', onmouseover='ImageSwap("jsImageSwap","../../assets/images/features-hotspots-1x.jpg","../../assets/images/features-hotspots-2x.jpg")') Interactive Hotspots]
            li #[a(class='link', href='javascript:void(0)', onmouseout='ImageSwap("jsImageSwap","../../assets/images/features-hover-1x.jpg","../../assets/images/features-hover-2x.jpg")', onmouseover='ImageSwap("jsImageSwap","../../assets/images/features-videos-1x.jpg","../../assets/images/features-videos-2x.jpg")') Videos]
            li #[a(class='link', href='javascript:void(0)', onmouseout='ImageSwap("jsImageSwap","../../assets/images/features-hover-1x.jpg","../../assets/images/features-hover-2x.jpg")', onmouseover='ImageSwap("jsImageSwap","../../assets/images/features-zoom-1x.jpg","../../assets/images/features-zoom-2x.jpg")') Image Zoom]
            li #[a(class='link', href='javascript:void(d0)', onmouseout='ImageSwap("jsImageSwap","../../assets/images/features-hover-1x.jpg","../../assets/images/features-hover-2x.jpg")', onmouseover='ImageSwap("jsImageSwap","../../assets/images/features-spin-1x.jpg","../../assets/images/features-spin-2x.jpg")') 360° Product Views]
            //- li CNET Reviews

  section#reach.bg-primary-dark
    div(class='container max-width-adaptive-md padding-y-xl')
      div(class='text-component max-width-adaptive-sm margin-auto padding-y-sm')
        h3(class='text-xl text-center color-white text-bold') Extend the reach of your current digital brand assets by incorporating them into The #{header.logo.alt}'s product pages
      div(class='max-width-adaptive-xs margin-auto padding-y-sm')
        figure(class='media-wrapper radius-md')
          video(poster='../../assets/media/brand-assets.jpg', preload, autoplay, loop, muted, playsinline, nofullscreen)
            source(src='../../assets/media/brand-assets.webm')
            source(src='../../assets/media/brand-assets.mp4')
            img(src='../../assets/media/brand-assets.jpg', alt='thumbnail', aria-label='media')

  +block('portal')(class='max-width-adaptive-md padding-y-xl padding-x-xxxl@md')
    h3(class='text-xl color-black text-center padding-bottom-lg')= portal.headline
    div(class='grid gap-lg@md items-center')
      div(class='col-6@md order-1@md')
        span(class='text-component line-height-lg')
          | !{portal.copy}
      img(class='col-6@md block radius-md width-100% object-cover order-1@md', src=portal.media.standard, srcset=portal.media.retina + ' 2x', alt='Image description')
      //- div(class=portal.flip ? 'col-6@md' : 'col-6@md  order-1@md')
        figure(class='media-wrapper media-wrapper--4:3')
          img(src=portal.media.standard, srcset=portal.media.retina + ' 2x')

  section#contact(class='bg bg-contrast-lower padding-y-lg')
    div(class='container max-width-adaptive-sm')
      include ../../modules/final-fight

  //- +block('advantage')(class='max-width-adaptive-md')
    div(class='grid gap-lg@md')
      div(class='flex items-center col-6@md')
        div(class='text-component line-height-lg v-space-lg')
          h1(class='text-lg padding-bottom-xxs color-black') The CNET Content Solutions' Advantage
          ul(class='list list--ul margin-left-md@md margin-left-sm@sm line-height-sm')
            li Interactive customer engagement
            li Responsive design
            li Fast turn-around
            li Real-time editor
      img(class='block width-100% object-cover col-6@md radius-lg', src='https://cdn.cnetcontent.com/sites/pages/breadth-depth-1x.jpg', srcset='https://cdn.cnetcontent.com/sites/pages/breadth-depth-2x.jpg 2x', alt='Image description')

  include ../../modules/footer
