<label class="form-label margin-bottom-xxxs" for="{{ selectName }}">
  {{ selectLabel }}
</label>

<div class="select">
  <select class="select__input form-control"
    name="{{ selectName }}"
    id="{{ selectName }}">
    {% for option in selectOptions %}
      <option value="{{ option.value }}">
        {{ option.text }}
      </option>
    {% endfor %}
  </select>
  <svg class="icon select__icon" aria-hidden="true" viewBox="0 0 16 16">
    <g stroke-width="2" stroke="currentColor">
      <polyline fill="none"
        stroke="currentColor"
        points="15.5,4.5 8,12 0.5,4.5 "></polyline>
    </g>
  </svg>
</div>
