// main: ./index.pug

div(class='grid gap-lg gap-xxxl@md items-center')
  div(class='col-6@md order-1@md')
    span(class='text-component line-height-lg v-space-xs')
      h2(class='text-xl padding-bottom-xxs color-black')=syndicate.headline
      | !{syndicate.copy}
      ul(class='list list--ul margin-left-md@md margin-left-sm@sm line-height-sm')
        li #[a(class='link', href='javascript:void(0)', onmouseout="ImageSwap('jsImageSwap','assets/images/_brand-assets-left-1x.jpg','assets/images/_brand-assets-left-2x.jpg')", name='hotspot', onmouseover="ImageSwap('jsImageSwap','assets/images/features-hotspots-1x.jpg','assets/images/features-hotspots-2x.jpg')") Interactive Hotspots]
        li #[a(class='link', href='javascript:void(0)', onmouseout="ImageSwap('jsImageSwap','assets/images/_brand-assets-left-1x.jpg','assets/images/_brand-assets-left-2x.jpg')", name='zoom', onmouseover="ImageSwap('jsImageSwap','assets/images/features-zoom-1x.jpg','assets/images/features-zoom-2x.jpg')") Image Zoom]
        li #[a(class='link', href='javascript:void(0)', onmouseout="ImageSwap('jsImageSwap','assets/images/_brand-assets-left-1x.jpg','assets/images/_brand-assets-left-2x.jpg')", name='video', onmouseover="ImageSwap('jsImageSwap','assets/images/features-videos-1x.jpg','assets/images/features-videos-2x.jpg')") Videos]
        li #[a(class='link', href='javascript:void(0)', onmouseout="ImageSwap('jsImageSwap','assets/images/_brand-assets-left-1x.jpg','assets/images/_brand-assets-left-2x.jpg')", name='spin', onmouseover="ImageSwap('jsImageSwap','https://cdn.cnetcontent.com/sites/pages/features-spin-1x.jpg','https://cdn.cnetcontent.com/sites/pages/features-spin-2x.jpg')") 360° Product Views]
        li #[a(class='link', href='javascript:void(0)', onmouseout="ImageSwap('jsImageSwap','assets/images/_brand-assets-left-1x.jpg','assets/images/_brand-assets-left-2x.jpg')", name='compare', onmouseover="ImageSwap('jsImageSwap','assets/images/features-compare-1x.jpg','assets/images/features-compare-2x.jpg')") Comparison Charts]
        li #[a(class='link', href='javascript:void(0)', onmouseout="ImageSwap('jsImageSwap','assets/images/_brand-assets-left-1x.jpg','assets/images/_brand-assets-left-2x.jpg')", name='report', onmouseover="ImageSwap('jsImageSwap','assets/images/features-reporting-1x.jpg','assets/images/features-reporting-2x.jpg')") Detailed Reporting]

  div(class=syndicate.flip ? 'col-6@md' : 'col-6@md  order-1@md')
    figure(class='media-wrapper media-wrapper--4:3')
      img(id='jsImageSwap', src=syndicate.media.standard, srcset=syndicate.media.retina + ' 2x')
