// main: ./index.pug

style
  :less(compress=true)
    #banner {
      .btn {
        &:hover {
          background-color: var(--color-white);
          box-shadow: inset 0 0 0 2px var(--color-primary-dark);
        }
      }
    }

div(class='padding-y-xl radius-lg bg-white shadow-md')
  div(class='container max-width-adaptive-sm center-items')
    div(class='text-component text-center line-height-lg v-space-lg')
      h4(class='text-lg padding-bottom-xxxs color-black')=banner.headline
      | !{banner.copy}
    div(class='margin-top-sm text-center')
      div(class='flex flex-wrap gap-xxxs items-center justify-center')
        a(class='btn btn--subtle', href=banner.button.url) #[span(class='color-primary-dark')=banner.button.label]
        span or
        a(class='color-primary-dark', href=banner.link.url, target='_blank')=banner.link.label
        span if you have an account.
