<div class="flex flex-column gap-xxxs">
  <div title="{{ checkName }}-1">
    <input id="{{ checkName }}-1"
      name="{{ checkName }}"
      value="{{ checkValue }}"
      class="checkbox"
      type="checkbox"
      checked="checked" />
    <label for="{{ checkName }}-1">A {{ checkText }}</label>
  </div>
  <div title="{{ checkName }}-2">
    <input id="{{ checkName }}-2"
      name="{{ checkName }}"
      value="{{ checkValue }}"
      class="checkbox"
      type="checkbox" />
    <label for="{{ checkName }}-2">B {{ checkText }}</label>
  </div>
</div>
