<div class="flex flex-column gap-xxxs">
  {% for select in pickOptions %}
  <div>
    <input id="{{ select.value }}"
      name="{{ select.value }}"
      value="{{ select.value }}"
      class="checkbox"
      type="checkbox"
      checked="checked" />
    <label for="{{ select.value }}">{{ select.text }}</label>
  </div>
  {% endfor %}
</div>
